//Fonts//
@font-face {
    font-family: 'bebas_neue';
    src: url('../Fonts/bebasneue-regular-webfont.eot');
    src: url('../Fonts/bebasneue-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('../Fonts/bebasneue-regular-webfont.woff') format('woff'),
         url('../Fonts/bebasneue-regular-webfont.ttf') format('truetype'),
         url('../Fonts/bebasneue-regular-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserrat';
    src: url('../Fontsmontserrat-variablefont_wght-webfont.eot');
    src: url('../Fontsmontserrat-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fontsmontserrat-variablefont_wght-webfont.woff2') format('woff2'),
         url('../Fontsmontserrat-variablefont_wght-webfont.woff') format('woff'),
         url('../Fontsmontserrat-variablefont_wght-webfont.ttf') format('truetype'),
         url('../Fontsmontserrat-variablefont_wght-webfont.svg#montserratthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

//VARIABLES//

$red:#D2483D;
$underline:#ec8b84;
$black:#000000;
$gray:#F3F3F3;
$white:#FFFFFF;


@mixin mobile-only {
     @media screen and (max-device-width: 800px){
        @content;
    }
 }
//EXTENSIONS//

.header{
    font-family: bebas_neue;
    font-size:72px;
    color: $black;
    @include mobile-only{
        font-size: 40px;
    }

}

.title1{
    font-family: bebas_neue;
    font-size: 24px;
    color: $black;
    @include mobile-only{
        font-size: 20px;
    }
}

.title2{
    font-family: 'montserrat' ;
    font-size: 24px;
    @include mobile-only{
        font-size: 20px;
    }
}


.body_highlight{
    font-family: 'montserrat' ;
    font-weight: 600;
    font-size: 20px;
    @include mobile-only{
        font-size: 16px;
    }
}

.body{
    font-family: 'montserrat' ;
    font-size: 20px;
    @include mobile-only{
        font-size: 16px;
    }
}

//ALL//
body{
    max-width: 100%;
    margin: auto;
    background-color: $gray;
}

a{
    text-decoration: none;
    position: relative;
    display: inline-block;
    @extend.title1;
    margin: 0;
}

.underline{
    &::after{
        content:"";
        position:absolute;
        display: block;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 4px;
        background: $red;
    }
}

h1{
    @extend.header;
    margin-bottom: 10px;
}

h2{
    position: relative;
    @extend.title1;
    margin: 20px auto;
    width: fit-content;
    text-transform: uppercase;
}

h3{
    @extend.body_highlight;
    margin: 0;
}

p{
    @extend.body;
    margin: 0;
    padding: 4px
}

strong{
    @extend.body_highlight;
}
section{
    max-width: 800px;
    margin: auto;
}
///HEADER///
header{
    background-color: $gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
//NAV//
nav{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    padding-left: 10px;
    margin-top: 10px;  
}

nav a{
    margin: 0 9px;
}



.menu{
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content:"";
        position:absolute;
        display: block;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 4px;
        background: $underline;
        opacity: 0;
    }
}

//section//
.container-logo{
    width:fit-content;
    display: flex;
    flex-direction: row;
    margin: 150px auto 0px auto;
    @include mobile-only{
        flex-direction: column;
        align-items: center;
    }
}

.logoxl img{
    @include mobile-only{
        width: 230px;
        margin-top: 10px;
    }
}

.container-txt{
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    &__promesse{
        @extend.body_highlight;
        letter-spacing: 1px;
        margin-top: 5px;
        &--red{
            color: $red;
        }
    }
    @include mobile-only{
        align-items: center;
    }
}

.box-adresse{
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mobile-only{
        flex-direction: column;
        align-items: center;
    }
}
.adresses{
@extend.body;
display: flex;
flex-direction: column;
width: 250px;
margin-top: 10px;
&__title{
    @extend.body_highlight;
}
}


//CTA//

.CTA{
@extend.title1;
display: block;
width: fit-content;
color: $white;
background: $black;
padding: 14px 48px;
border: none;
margin-top:32px;
transform: scale(1);
transition: transform 400ms ease-in-out;
&:hover{
    cursor: pointer;
    transform: scale(1.1);
}

}

//BANNIERE//

.banner{
    background-color: $red;
    @extend.body_highlight;
    color: $white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 216px;
    margin: 100px 0 0px 0;
}

//section//
.restau{
    margin-top: 50px;
}
.contactez-nous p{
    text-align: center;
}

.box-galerie{
margin: 50px 0 50px 0;
}
.galerie{
    margin: auto;
    display: grid;
    max-width:844px;
    grid-template-columns: repeat(auto-fill, 248px);
    justify-content: center;
    grid-gap: 50px;
}
.galerie img{
    width: 248px;
    height: 248px;
}

.galerie :nth-child(1){
order: 1;
}
.galerie :nth-child(2){
order: 3;
}
.galerie :nth-child(3){
order: 6;
}
.galerie :nth-child(4){
order: 2;
}
.galerie :nth-child(5){
order: 5;
}
.galerie :nth-child(6){
order: 4;
}
//FOOTER//

footer{
    width: 100%;
    height: 216px;
    background-color: $black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    z-index: -10;
    @include mobile-only{
        height: 150px;
    }

}

.reseaux{
    margin-right: 36px;
    width: 150px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include mobile-only{
        margin-right: 18px;
    }
}
.bi{
    color: $white;
    font-size: 36px;
    @include mobile-only{
       font-size: 25px;
    }
    }
   .test1{
    transform: scale(1);
    width: 36px;
    margin: 0;
    transition: transform 0.150ms;
    z-index: 10;
    @include mobile-only{
    width: 25px;
    }
     &:hover{
        cursor: pointer;
        transform: scale(1.5);
    }
    &:hover + .test{
        opacity: 1;
        /*transform: scale(1.5)*/;
    }
   }
    .test{
        position: absolute;
        top: 18px;
        left: 18px;
        width: 0.1px;
        height: 0.1px;
        box-shadow: 0 0 15px 45px rgba(255, 255, 255, 0.4);
        border-radius: 100%;
        opacity: 0;
        transform: scale(1);
        transition: all 0.150ms;
        @include mobile-only{
            position: absolute;
            top: 12.5px;
            left: 12.5px;
        }
    }

    .container_reseau{
        position: relative;
        height: 36px;
    }


//MENU//

.carte{
    background-color: $white;
    text-align: center;
    padding: 25px 0 25px 0;
}
 .carte .logoxl > img{
     width: 130px;
     height: 130px;
 }
.choix{
    margin: 30px 0 60px 0;
}

//contact//
.container-map{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: repeat(4, 100px);
    grid-template: 
        "titre map"
        "adresse--1 map"
        "adresse--2 map"
        "adresse--3 map";
    align-items: center;
    justify-items: center;
    @include mobile-only{
    display: flex;
    flex-direction: column;
    }
}

.container-map h1{
    grid-area: titre;
}
.adresse{
    margin: 25px;
    position: relative;
    height: 100px;
    &:focus{
        &::after{
            opacity: 1;
        }
    }
    &:hover{
        &::before{
            opacity: 1;
        }
    }
    &::after{
        content:"";
        position:absolute;
        display: block;
        top: 0px;
        left: -10px;
        width: 4px;
        height: 100%;
        background: $red;
        opacity: 0;
    }
    &::before{
        content:"";
        position:absolute;
        display: block;
        top: 0px;
        left: -10px;
        width: 4px;
        height: 100%;
        background: $underline;
        opacity: 0;
    }
}
.adresse--1{
    grid-area: adresse--1;
}
.adresse--2{
    grid-area: adresse--2;
}
.adresse--3{
    grid-area: adresse--3;
}

.map{
    width: 100%;
    height: 100%;
    grid-area: map;
    background-color: $white;
    border: 2px solid;
    text-align: center;
    justify-content: center;
    @include mobile-only{
        display: none;
    }
}
button{
    border: none;
    text-align: left;
}